<ion-header>
  <ion-toolbar color="primary">
    <ion-title style="text-align:center">Evènements</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

<section>
    <p>Espace pour la publicité</p>
</section>

<ion-list *ngFor="let ticket of ticketList">
  <ion-item lines="none">
    <ion-label text wrap>
      <ion-text>
        {{ticket.date}}
      </ion-text>
      <h2>{{ticket.event}}</h2>
  </ion-label>
    <ion-button>
      <ion-icon name="arrow-dropup" color="primary-contrast"></ion-icon>
      2 amis participent
    </ion-button>
       
  </ion-item>

</ion-list>

</ion-content>
