<ion-header>
  <ion-toolbar color="primary">
    <ion-title style="text-align:center">Evènements</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

    <section *ngIf="!isPremium">
        <ad></ad>
    </section>

    <ion-list *ngFor="let friend of friendList">
        <ion-item lines="none">
            <ion-label text wrap>
                <h2>
                    {{friend.FirstName}}
                </h2>
            
                <ion-list *ngFor="let ticket of friend.Tickets">
                    <ion-item lines="none">
                        <ion-label text wrap>
                            <ion-text>
                                {{ticket.Date}}
                            </ion-text>
                            <h2>{{ticket.EventName}}</h2>
                            <h2>{{ticket.Artist}}</h2>
                        </ion-label>
                    </ion-item>
                </ion-list>
            </ion-label>
        </ion-item>
    </ion-list>

</ion-content>
