<!--
  Generated template for the Newpage2Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-toolbar color="primary" >
        <ion-title class="toolbar-title">Mes Billets</ion-title>
    </ion-toolbar>

</ion-header>

<ion-content>

    <section *ngIf="!isPremium">
        <ad></ad>
    </section>
    <ion-button (click)="ngOnInit()">
        Refresh
    </ion-button>

    <div *ngIf="show; else elseBlock">
        <ion-list *ngFor="let ticket of ticketList">
        
            <ion-item lines="none">
                <ion-label text-wrap>
                    <ion-text>
                        {{ticket.Date}}
                    </ion-text>
                    <h2>{{ticket.EventName}}</h2>
                    <h2>{{ticket.Artist}}</h2>
                </ion-label>
                <ion-button (click)="ticketClickHandler(ticket)">
                    Billet
                </ion-button>
            </ion-item>
            
        </ion-list>
    </div>
    
    <ng-template #elseBlock>
        Aucun ticket trouvé !
    </ng-template>

</ion-content>
