
.toolbar-title {
    color: #F5F4FB;
    text-align: center;
}

ion-button {
    width: 30%;
}

section {
    
    border: 2px solid black;
    padding: 5%;
}

ion-content {
    --background: rgb(229, 228, 238);
}

ion-list {
    margin-bottom: 2px;
}

h2 {
    color: var(--ion-color-primary);
    font-size: 16pt;
}
