<!--
  Generated template for the Newpage2Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="header">

    <ion-toolbar>
        <ion-title class="toolbar-title">Mes Billets</ion-title>
    </ion-toolbar>

</ion-header>

<ion-content>
<section>
    <p>This is where the ad should be</p>
</section>
<ion-list>
    <ion-item class="backItem">
        <ion-icon name="arrow-round-back" color="primary" item-left></ion-icon>
        <h2 item-left>Ancien billet</h2>
    </ion-item>
    <ion-item>
        <p>Lundi 21 janvier</p>
        <h2>Cirque du soleil</h2>
        <ion-button item-right (click)="ticketClickHandler()" >1 Billet</ion-button>
    </ion-item>
    <ion-item>
        <p>Lundi 21 janvier</p>
        <h2>Cirque du soleil</h2>
        <ion-button item-right (click)="ticketClickHandler()">1 Billet</ion-button>
    </ion-item>
    <ion-item>
        <p>Lundi 21 janvier</p>
        <h2>Cirque du soleil</h2>
        <ion-button item-right (click)="ticketClickHandler()">1 Billet</ion-button>
    </ion-item>
    <ion-item>
        <p>Lundi 21 janvier</p>
        <h2>Cirque du soleil</h2>
        <ion-button item-right color="primary" (click)="ticketClickHandler()">1 Billet</ion-button>
    </ion-item>
        
    </ion-list>

</ion-content>
