
$colors: (
    primary:    #3032AC,
    secondary:  #6F7379,
    danger:     #f53d3d,
    sucess:     #4BB543,
    light:      #515459,
    dark:       #66CD00,
    blue:       blue
);

app-user-tickets {

    
    background-color: #3032AC;

    
    .toolbar-title {
        color: #F5F4FB;
    }

    ion-title{
        text-align: center
    }

    ion-button {
        width: 45%;
    }

    section {
        background: darkgrey;
        border: 2px solid black;
        padding: 5%;
    }

    section p {
        text-align: center
    }

    .backItem{
        background: #F5F0F6;
    }

    .backItem ion-icon{
        color: color($colors, primary)
    }

    h2 {
        color: color($colors, primary);
    }

    .content-md {
        background: #F5F0F6;
    }
}
