.toolbar-title {
    color: #F5F4FB;
    text-align: center;
}

.card {
    border-radius: 25px;
    border: 4px dotted rgb(181, 184, 178);
}

.grid {
    color: black;
}

.col {
    padding: 0px;
}

h2 {
    color: var(--ion-color-primary);
}