<ion-header>

  <ion-toolbar color="primary" >
    <ion-buttons slot="start" (click)="clickReturn()">
      <ion-icon name="arrow-back" size="large" secondary></ion-icon>
    </ion-buttons>
      <ion-title style="text-align: center">Paiement</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>

  <section >
    <ad></ad>
  </section>

    <form action="" padding>
      <ion-label>Nom</ion-label>
      <ion-input name="nom" [(ngModel)]="nom"></ion-input>
      <ion-label>Prenom</ion-label>
      <ion-input name="prenom" [(ngModel)]="prenom"></ion-input>
      <ion-label>Numero de carte de credit</ion-label>
      <ion-input name="numero" [(ngModel)]="numeroCC" type="number" maxlength="4"></ion-input>
      <ion-row>
        <ion-label>Date d'expiration (Mois)</ion-label>
        <ion-input name="date d'expiration" [(ngModel)]="expMois" type="number"maxlength="2"></ion-input>
        <ion-label>Date d'expiration (Annee)</ion-label>
        <ion-input name="date d'expiration" [(ngModel)]="expAnnee" type="number" maxlength="4"></ion-input>
        <ion-label >CVV</ion-label>
        <ion-input name="cvv" [(ngModel)]="cvv" type="number" maxlength="3"></ion-input>
         <!-- <ion-col class="col" size="2">
          Date d'expiration
        </ion-col> -->
          
      </ion-row>
        <section>
          Total : 2.00$
        </section>
      <ion-button (click)="pay()" >Effectuer le paiement</ion-button>
    </form>
    

</ion-content>
