<ion-header>

  <ion-toolbar color="primary" >
    <ion-buttons slot="start" (click)="clickReturn()">
      <ion-icon name="arrow-back" size="large" secondary></ion-icon>
    </ion-buttons>
      <ion-title style="text-align: center">Paiement</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>

  <section >
    <p>Espace pour la publicité</p>
  </section>

    <form action="" padding>
      <ion-label>Nom</ion-label>
      <ion-input name="nom"></ion-input>
      <ion-label>Prenom</ion-label>
      <ion-input name="prenom"></ion-input>
      <ion-label>Numero de carte de credit</ion-label>
      <ion-input name="numero"></ion-input>
      <ion-row>
        <ion-label>Date d'expiration</ion-label>
        <ion-input name="date d'expiration"></ion-input>
        <ion-label>CVV</ion-label>
        <ion-input name="cvv"></ion-input>
         <!-- <ion-col class="col" size="2">
          Date d'expiration
        </ion-col> -->
          
      </ion-row>
        <section>
          Total : 2.00$
        </section>
      <ion-button>Effectuer le paiement</ion-button>
    </form>
    

</ion-content>
