<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="user-tickets">
            <ion-icon name="flash"></ion-icon>
            <ion-label>Billets</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="ticket">
            <ion-icon name="apps"></ion-icon>
            <ion-label>Ticket</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="parametres">
            <ion-icon name="settings"></ion-icon>
            <ion-label>Parametres</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>
