<!--
  Generated template for the NewpagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

</ion-header>
    
    
    <ion-content class="mainPageContent">
        <ion-segment class="mainLogo">
            <p>The logo should be here</p>
        </ion-segment>
        <ion-segment class="appName">
            <h1>TICKET MANAGER</h1>
        </ion-segment>
        <button class="mainButton" (click)="go()" >
            <ion-icon slot="start" name="globe"></ion-icon>
            Connectez-vous avec SocialA
        </button>
    </ion-content>
    