<ion-header>

    <ion-toolbar >
        <ion-title style="text-align: center">Paramètres</ion-title>
    </ion-toolbar>

</ion-header>


<ion-content padding>
    <div>
        This is where the ad should be
    </div>
<br/>

    <ion-list>
        <button ion-item 
                icon-start>
            <ion-icon name="contact"></ion-icon>
            Nom de l'usager
            <p>Courriel de l'usager</p>
        </button>
        <button ion-item 
                icon-start (click)="onGoToHome()">
            <ion-icon name="exit"></ion-icon>
            Se déconnecter
        </button>
        <button ion-item 
                icon-start>
            <ion-icon name="remove"></ion-icon>
            Désactiver les publicités
        </button>
    </ion-list>
</ion-content>