<!--
  Generated template for the ParametresPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="mobile">
    <ion-title style="text-align: center">Paramètres</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div>
    This is where the ad should be
  </div>
<br/>

  <ion-list>
    <button ion-item 
            icon-start>
      <ion-icon name="contact"></ion-icon>
      Nom de l'usager
      <p>Courriel de l'usager</p>
    </button>
    <button ion-item 
            icon-start (click)="onGoToHome()">
      <ion-icon name="exit"></ion-icon>
      Se déconnecter
    </button>
    <button ion-item 
            icon-start>
      <ion-icon name="remove"></ion-icon>
      Désactiver les publicités
    </button>
  </ion-list>
</ion-content>  

<ion-footer>
  <ion-tabs>
    <ion-tab tabTitle="Billets" tabIcon="film"></ion-tab>
    <ion-tab tabTitle="Evenements" tabIcon="calendar"></ion-tab>
    <ion-tab tabTitle="Parametre" tabIcon="settings"></ion-tab>
  </ion-tabs>
</ion-footer> 